<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<location path="Register.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
  <system.web>
	<compilation debug="true" targetFramework="4.7.2" />
	<httpRuntime targetFramework="4.7.2" />
	  <!--Login tags-->
	  <authentication mode="Forms">
		  <forms defaultUrl="Index.aspx" loginUrl="Login.aspx" name="appNameAuth" path="/" protection="All"></forms>
	  </authentication>
	  <authorization>
		  <deny users="?"></deny>
	  </authorization>
  </system.web>
  <system.codedom>
	<compilers>
	  <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
	  <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
	</compilers>
  </system.codedom>
  <system.serviceModel>
	<bindings>
   <basicHttpBinding>
     <binding name="BasicHttpBinding_IServiceUser" />
     <binding name="BasicHttpBinding_IServiceRole" />
     <binding name="BasicHttpBinding_IServiceArea" />
     <binding name="BasicHttpBinding_IServiceAppointment" />
   </basicHttpBinding>
 </bindings>
	<client>
   <endpoint address="http://desktop-th5f7nm/WCFClinic/WCFClinic.ServiceUser.svc"
     binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceUser"
     contract="ProxyUser.IServiceUser" name="BasicHttpBinding_IServiceUser" />
   <endpoint address="http://desktop-th5f7nm/WCFClinic/WCFClinic.ServiceRole.svc"
     binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRole"
     contract="ProxyRole.IServiceRole" name="BasicHttpBinding_IServiceRole" />
   <endpoint address="http://desktop-th5f7nm/WCFClinic/WCFClinic.ServiceArea.svc"
     binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceArea"
     contract="ProxyArea.IServiceArea" name="BasicHttpBinding_IServiceArea" />
   <endpoint address="http://desktop-th5f7nm/WCFClinic/WCFClinic.ServiceAppointment.svc"
     binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceAppointment"
     contract="ProxyAppointment.IServiceAppointment" name="BasicHttpBinding_IServiceAppointment" />
 </client>
  </system.serviceModel>
</configuration>